/* Add custom styling here */
.App {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.App-header {
    background-color: #282c34;
    min-height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

main {
    display: "flex";
    justify-content: "center";
    flex-direction: "column";
    text-align: "center";
}

